atomicwrites
attrs
backcall
bleach
cloudpickle
cycler
dask
decorator
defusedxml
entrypoints
graphviz
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
networkx
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
pytest
python-dateutil
pytz
PyWavelets
pyzmq
qtconsole
scikit-image
scipy
Send2Trash
six
terminado
testpath
toolz
torch
torchvision
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
